<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fake Movie Database</title>
    <link rel="stylesheet" href="static/skeleton/css/normalize.css">
    <link rel="stylesheet" href="static/skeleton/css/skeleton.css">
</head>
<body>
<div class="container">
<h1> <a href="/"> Fake Movie Database </a> </h1>
{% block body %} {% endblock %}
</div>
</body>

</html>